[Unit]
Description=MC Discord Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=PYTHONUNBUFFERED=1
User=arkserver
ExecStart=/home/solopie/mc-discord-bot-py/run.sh

[Install]
WantedBy=multi-user.target